<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>list</key>
	<array>
		<dict>
			<key>tname</key>
			<string>推荐列表</string>
			<key>category_id</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>精选|歌单</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>原创|独立</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>翻唱|翻奏</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>主播|节目</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>榜单|排行</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>艺人|明星</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>怀旧|经典</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>电影|原声</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>动漫|游戏</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>佛教|禅音</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>儿童|胎教</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>华语|粤语</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>日语|韩语</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>欧美|其他</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>器乐|弹奏</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>孤单.伤感</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>睡前.催眠</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>午后.咖啡</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>|小清新|</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>|纯音乐|</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>|二次元|</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>流行</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>民谣</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>古风</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>摇滚</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>电子</string>
		</dict>
		<dict>
			<key>category_id</key>
			<integer>2</integer>
			<key>tname</key>
			<string>3D奇妙体验馆</string>
		</dict>
	</array>
</dict>
</plist>
